version: '3.8'

services:
  app:
    container_name: scaffolding-landing
    build:
      context: .
      dockerfile: Dockerfile
    restart: always
    ports:
      - "3002:3000"
    environment:
      - NODE_ENV=production
    # Load environment variables from .env file
    env_file:
      - .env
